.Main {
    width: 100%;
    padding: 6rem 4rem;
    background-color: gainsboro;
}

.Title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}


@media only screen and (max-width: 768px) {
    .Main {
        padding: 3rem 3.5rem;
    }
}